<header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
    <div class="text-center my-5">
        <div class="userImage">
            <%= image_tag(@user.image, class:'img-fluid rounded-circle mb-4',  width: '300px')%>
        </div>
        <h1 class="text-white fs-3 fw-bolder"><%= @user.email %></h1>
        <p class="text-white-50 mb-0">Joined <%= time_ago_in_words(@user.created_at) + ' ago'%></p>
        <p class="text-white-50 mb-0">Published <%= @user.blogs.count %> Blog</p>
    </div>
</header>
<section id="posts" class="posts mt-5">
    <div class="container" >
        <div class="row">
            <% @user.blogs.each do |blog|%>
                <div class="col-lg-4 col-md-12 mb-4">
                <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <%= link_to image_tag(blog.image, class: "img-fluid blogImage", width: 'auto', height: '250px'), blog_path(blog.id)%>
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                    </div>
                    <div class="card-body">
                    <h5 class="card-title"><%= link_to blog.title.length > 33 ? blog.title.first(33).. : blog.title, blog_path(blog.id) %></h5>
                    <p class="card-text m-0 p-0">
                        <%= blog.description.length > 200 ? blog.description.first(200).. : blog.description %>
                    </p>
                    </div>
                    <hr>
                    <div class="text-muted mx-2 text-center">Published <%= time_ago_in_words(blog.created_at) + ' ago'%> | <%= pluralize(blog.views, 'view')%></div>
                </div>
            </div>
        <% end %>
</section>